adf-scd-project/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-scd-project"
		},
		"LS_ADLS_Gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Gen2'"
		},
		"LS_AzureSQLDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSQLDB'"
		},
		"LS_ADLS_Gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsscdproject.dfs.core.windows.net/"
		},
		"LS_AzureSQLDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver-scd-project.database.windows.net"
		},
		"LS_AzureSQLDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-scd-project"
		},
		"LS_AzureSQLDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQLDB_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQLDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQLDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSQLDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers-1000.csv",
						"folderPath": "raw/customer",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Index",
						"type": "String"
					},
					{
						"name": "Customer Id",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Phone 1",
						"type": "String"
					},
					{
						"name": "Phone 2",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Subscription Date",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products-1000.csv",
						"folderPath": "raw/product",
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Index",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Brand",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "Stock",
						"type": "String"
					},
					{
						"name": "EAN",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Availability",
						"type": "String"
					},
					{
						"name": "Internal ID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DIM_Customer_SCD1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "UpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer_scd1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DIM_Customer_SCD2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SurrogateKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "StartDate",
						"type": "date"
					},
					{
						"name": "EndDate",
						"type": "date"
					},
					{
						"name": "IsCurrent",
						"type": "bit"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer_scd2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DIM_Product_SCD3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "CurrentCategory",
						"type": "varchar"
					},
					{
						"name": "PreviousCategory",
						"type": "varchar"
					},
					{
						"name": "CurrentPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "PreviousPrice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "UpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_product_scd3"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_STG_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "_LoadDate",
						"type": "date"
					},
					{
						"name": "_SourceFile",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_STG_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "Category",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "_LoadDate",
						"type": "date"
					},
					{
						"name": "_SourceFile",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Customer_Staging')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Customer",
								"type": "DatasetReference"
							},
							"name": "SourceCSV"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							},
							"name": "SinkStaging"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_Customer",
								"type": "DatasetReference"
							},
							"name": "SinkRejected"
						}
					],
					"transformations": [
						{
							"name": "AddAuditColumns"
						},
						{
							"name": "DataQualityCheck"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Index as short,",
						"          {Customer Id} as string,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Company as string,",
						"          City as string,",
						"          Country as string,",
						"          {Phone 1} as string,",
						"          {Phone 2} as string,",
						"          Email as string,",
						"          {Subscription Date} as date,",
						"          Website as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceCSV",
						"SourceCSV derive(CustomerID = toInteger(byName('Customer Id')),",
						"          CustomerName = concat(byName('First Name'), ' ', byName('Last Name')),",
						"          Email = byName('Email'),",
						"          City = byName('City'),",
						"          Country = byName('Country'),",
						"          Company = byName('Company'),",
						"          {_LoadDate} = currentDate()) ~> AddAuditColumns",
						"AddAuditColumns split(!isNull(toInteger(byName('Customer Id'))),",
						"     disjoint: false) ~> DataQualityCheck@(ValidRecords, InvalidRecords)",
						"DataQualityCheck@ValidRecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CustomerID as integer,",
						"          CustomerName as string,",
						"          Email as string,",
						"          City as string,",
						"          {_LoadDate} as date,",
						"          {_SourceFile} as string",
						"     ),",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'stg_customer',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SinkStaging",
						"DataQualityCheck@InvalidRecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Index as string,",
						"          {Customer Id} as string,",
						"          {First Name} as string,",
						"          {Last Name} as string,",
						"          Company as string,",
						"          City as string,",
						"          Country as string,",
						"          {Phone 1} as string,",
						"          {Phone 2} as string,",
						"          Email as string,",
						"          {Subscription Date} as string,",
						"          Website as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkRejected"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Customer')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Load_Product_Staging')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_Product",
								"type": "DatasetReference"
							},
							"name": "SourceCSV"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							},
							"name": "SinkStaging"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_Product",
								"type": "DatasetReference"
							},
							"name": "SinkRejected"
						}
					],
					"transformations": [
						{
							"name": "AddAuditColumn"
						},
						{
							"name": "DataQualityCheck"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Index as short,",
						"          Name as string,",
						"          Description as string,",
						"          Brand as string,",
						"          Category as string,",
						"          Price as short,",
						"          Currency as string,",
						"          Stock as short,",
						"          EAN as long,",
						"          Color as string,",
						"          Size as string,",
						"          Availability as string,",
						"          {Internal ID} as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceCSV",
						"SourceCSV derive(ProductID = toInteger(byName('Index')),",
						"          ProductName = byName('Name'),",
						"          Brand = byName('Brand'),",
						"          CurrentCategory = byName('Category'),",
						"          CurrentPrice = toDecimal(byName('Price')),",
						"          Availability = byName('Availability'),",
						"          {_LoadDate} = currentDate()) ~> AddAuditColumn",
						"AddAuditColumn split(!isNull(toInteger(byName('Index'))),",
						"     disjoint: false) ~> DataQualityCheck@(ValidRecords, InvalidRecords)",
						"DataQualityCheck@ValidRecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          Price as decimal(10,2),",
						"          {_LoadDate} as date,",
						"          {_SourceFile} as string",
						"     ),",
						"     format: 'table',",
						"     store: 'sqlserver',",
						"     schemaName: 'dbo',",
						"     tableName: 'stg_product',",
						"     insertable: true,",
						"     updateable: false,",
						"     deletable: false,",
						"     upsertable: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SinkStaging",
						"DataQualityCheck@InvalidRecords sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Index as string,",
						"          Name as string,",
						"          Description as string,",
						"          Brand as string,",
						"          Category as string,",
						"          Price as string,",
						"          Currency as string,",
						"          Stock as string,",
						"          EAN as string,",
						"          Color as string,",
						"          Size as string,",
						"          Availability as string,",
						"          {Internal ID} as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SinkRejected"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Product')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD1_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadStaging",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Customer_Staging",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceCSV": {},
									"SinkStaging": {},
									"SinkRejected": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					},
					{
						"name": "SP_SCD1_Upsert",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_SCD1_Upsert]",
							"storedProcedureParameters": {
								"BusinessKey": {
									"value": "",
									"type": "String"
								},
								"StagingTable": {
									"value": "",
									"type": "String"
								},
								"TargetTable": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Load_Customer_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD2_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadStaging",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Customer_Staging",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceCSV": {},
									"SinkStaging": {},
									"SinkRejected": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					},
					{
						"name": "SP_SCD2_ExpireInsert",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_SCD2_Expire_And_Insert]",
							"storedProcedureParameters": {
								"BusinessKey": {
									"value": "",
									"type": "String"
								},
								"StagingTable": {
									"value": "",
									"type": "String"
								},
								"TargetTable": {
									"value": "",
									"type": "String"
								},
								"TrackingColumns": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Load_Customer_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD3_Product')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoadStaging",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Load_Product_Staging",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceCSV": {},
									"SinkStaging": {},
									"SinkRejected": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "SP_SCD3_Upsert",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LoadStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_SCD3_Upsert]",
							"storedProcedureParameters": {
								"BusinessKey": {
									"value": "",
									"type": "String"
								},
								"SCD3Columns": {
									"value": "",
									"type": "String"
								},
								"StagingTable": {
									"value": "",
									"type": "String"
								},
								"TargetTable": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Load_Product_Staging')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunSCD1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SCD1_Customer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunSCD2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunSCD1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SCD2_Customer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunSCD3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunSCD2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SCD3_Product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_SCD1_Customer')]",
				"[concat(variables('factoryId'), '/pipelines/PL_SCD2_Customer')]",
				"[concat(variables('factoryId'), '/pipelines/PL_SCD3_Product')]"
			]
		}
	]
}